@import url('http://fonts.cdnfonts.com/css/tt-commons');

.button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 50px;
    font-size: 18px;
    border-radius: 25px 25px 25px 25px;
    border-style: none;
    font-family: "TT commons", sans-serif;
    font-weight: bolder;
    color:white;
    text-transform: uppercase;
    background: linear-gradient(
        90deg
        ,rgb(103, 195, 234,1) 0%,rgba(105, 141, 200, 1) 70%);
            box-shadow: none;
    
}

.button:hover{
    -webkit-box-shadow: 0 6px 20px -8px grblack;
    -moz-box-shadow: 0 6px 20px -10px black;
         box-shadow: 0 6px 20px -10px black;

}
